<app-header></app-header>
<div class="container-fluid">
    <div class="row chat-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="chat-heading">
                        <!-- <h3>Test Edit</h3> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                   
                    <div [innerHTML]="htmlString" style="color: black;">
                    </div>
                    <!-- <div class="terms-conditions">
                        <p>Architecture and design are everywhere. Nothing has a greater impact on our wellbeing, on our mood and on our thoughts than the urban and interior spaces we find ourselves in every day. Yet, we know surprisingly little about them. And even if we wanted to learn about the creative minds behind our built environment, there is no easy way to find information.</p>   
                        <p>We decided to change that.</p>
                        <p>INSITE was created by architects not only for architects and designers but also for everyone who is interested in exploring the built environment – at home as well as when travelling. It was designed as an easy to use platform that invites architects and designers to put their projects on the map (literally) and to engage in the current discourse on all architecture and design related matters.</p>
                        <p>Communication is the key to knowledge and appreciation – and INSITE is the space we created for it.</p>
                    </div>
                    <div class="my-social-link">
                            <div class="project-social">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-google"></i>
                                </a>
                            </div>
                        </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
